<h1>
  <%= gravatar_image_tag @user.email %>
  <%= @user.name %>
</h1>

<p id="notice"><%= notice %></p>
<br>

<%= link_to "Return to Homepage", :controller => :shop, :action => "index" %><br />